<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.owl.app" android:versionCode="1"
	android:versionName="1.0"
>
	<application android:icon="@drawable/icon"
		android:label="@string/app_name" android:name="owllab"
	>
		<activity android:name=".appSite"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="mainSite"
			android:label="@string/main_name"
			android:theme="@style/noticeListMain"
		></activity>
		<activity android:name="owlMap"
			android:theme="@android:style/Theme.NoTitleBar"
			android:label="@string/map_name"
		>
		</activity>
		<uses-library android:name="com.google.android.maps"
			android:required="true"
		></uses-library>
		<activity android:name="SiteVideo"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:label="@string/media_name"
		></activity>
		<activity android:name="mallList"
			android:theme="@style/category" android:label="@string/mall_list_name"
		></activity>
		<activity android:theme="@style/defaultScreen"
			android:label="@string/agreement_name"
			android:name="userAgreement"
		></activity>
		<activity android:theme="@style/defaultScreen"
			android:name="userForm" android:label="@string/userform_name"
			android:windowSoftInputMode="stateAlwaysHidden"
		></activity>
		<activity android:theme="@style/defaultScreen"
			android:label="@string/login_name"
			android:name="loginAct"
		></activity>
		<activity android:name="logoutAct"></activity>
		<activity android:label="@string/userinfo_name"
			android:name="userInfo" android:theme="@style/defaultScreen"
		></activity>
		<activity android:name="userEdit"
			android:theme="@style/defaultScreen"
			android:label="@string/useredit_name"
		></activity>
		<activity android:name="userOut"></activity>
		<activity android:name="userFindPWD">
		</activity>
		<receiver android:name="smsReceiver">
			<intent-filter>
				<action
					android:name="android.provider.Telephony.SMS_RECEIVED"
				></action>
			</intent-filter>
		</receiver>
		<activity android:name="helpDesk"
			android:label="@string/help_name"
			android:theme="@style/defaultScreen"
		></activity>
		<activity android:label="@string/mall_detail_name"
			android:name="mallDetail" android:theme="@style/defaultScreen"
		></activity>
		<provider android:name="cartCP"
			android:authorities="com.owl.app.cartProvider"
			android:exported="false"
		></provider>
		<activity android:label="@string/mall_cart_name"
			android:name="mallCart" android:theme="@style/defaultScreen"
		></activity>
		<activity android:theme="@style/defaultScreen"
			android:label="@string/mall_order_name"
			android:name="mallOrder"
		></activity>
		<activity android:theme="@style/defaultScreen"
			android:name="mallOrderList" android:label="@string/mall_order_list_name"
		>
		</activity>
		<activity android:name="myZone"></activity>
	</application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"
	></uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION"
	></uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"
	></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
	<uses-permission
		android:name="android.permission.BROADCAST_SMS"
	></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
</manifest>